body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image:url("image.jpeg") ;
    background-size: cover;
    color:#fff
}

.design-container {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
}

button {
    background-color: #469dfa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2e7d38;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}
